@charset "UTF-8";

/* 共通 */

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-inline: 3%;
}

/* takaゾーン */
.bg-img {
    background-image: url(img/6c91c179-56d7-41b5-a69f-ffc5f4be504d_base_resized.jpg);
    background-size: contain;
    width: 100%;
    overflow: hidden;
    height: auto;
    background-repeat: no-repeat;
}


/*-------------------------------------------
header
--------------------------------------------- */
.header {
    max-width: 1150px;
    width: 100%;
    height: 100px;
    background: #333;
    background: hsla(0, 0%, 100%, .86);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
        inset 2px 3px 2px rgba(0, 0, 0, .2),
        inset 4px -3px 3px rgba(0, 0, 0, .2),
        inset -4px 0 2px rgba(0, 0, 0, .2);
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    margin-inline: auto;
    margin-top: 50px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    line-height: 0;
    transition: all 0.5s;
}

.header-title:hover {
    transform: scale(1.1);
}

.header-title img {
    max-width: 100%;
    width: 150px;
    height: 70px;
    object-fit: cover;
    padding-left: 10px;
    margin-left: 30px;
}

.header-nav-list {
    display: flex;
    gap: 15px;
}

.header-nav-item {
    margin-right: 15px;
    transition: all 0.5s;

}

.header-nav-item:hover {
    transform: scale(1.1);
    color: aquamarine;
}

.header-nav-list a {
    width: 100%;
    color: black;
}

.header-nav-list li {
    margin-right: 50px;
}

.header-nav-item a:hover {
    color: green;
}

.metaleaf {
    margin-top: 300px;
}

.main-title {
    text-align: center;
    margin-top: 70px;
    font-size: 4rem;
    /*どこ基準の４rem?*/
}

.main-title span {
    color: green;
}

.main-info {
    display: flex;
    justify-content: space-between;
    margin-top: 450px;
}

.info-title {
    width: 50%;
    margin-block: auto;
    margin-left: 100px;
    font-size: 30px;
}

.info-title p {
    font-size: 18px;
}

.scroll-svg {
    display: block;
    width: fit-content;
    margin: 20px auto 0;
}

.arrow {
    animation: bounceSvg 1.5s infinite;
}

@keyframes bounceSvg {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.gradient-text {
    background: linear-gradient(90deg, #00f, #0ff);
    /* 好きな色に */
    background-clip: text;
    /* 背景を文字の形に切り抜く */
    -webkit-text-fill-color: transparent;
    /* 実際のテキスト色を透明にする */
    display: inline-block;
}

.img-item {
    width: 40%;
}

.mv {
    width: 100%;
    max-width: 100%;
    height: 80vh;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: 80px;
    margin-inline: 50px;
}

.img-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: img-change 20s infinite;
    opacity: 0;
}

.img-item:nth-child(1) {
    animation-delay: 0s;
}

.img-item:nth-child(2) {
    animation-delay: 5s;
}

.img-item:nth-child(3) {
    animation-delay: 10s;
}

.img-item:nth-child(4) {
    animation-delay: 15s;
}

.img-item img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

@keyframes img-change {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* ハンバーガーメニュー */
.menu-toggle {
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 20;
    margin-right: 30px;
}

.menu-toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: green;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 13px;
}

.menu-toggle span:nth-child(3) {
    top: 26px;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}

/* ーーーーーー */
.header-nav {
    display: block;
}



/*--------------------------------------
ryotaroゾーンmain
---------------------------------------*/

.section-title {
    display: inline-block;
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;

}

.sub-title {
    display: inline-block;
    font-size: 30px;
    position: relative;

}

.sub-title span {
    color: green;
}

.sub-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.sub-title span {
    font-size: 60px;
    padding-right: 20px;
}


/*metaleaf-feature*/

.feature-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 30px;
    margin-block: 40px;
}

.featurebg-1 {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)),
        url(./img/背景ブロック.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

.featurebg-2 {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)),
        url(./img/背景ブロック2.jpg);
    background-size: cover;
    background-position: 0% 0%;
}

.feature-img {
    width: 350px;
    border-radius: 10%;
}

/*metaleaf-function*/

.function-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.function-item {
    text-align: center;
    border: 4px solid rgb(49, 144, 49);
    border-radius: 15%;
}

.function-img {
    border-radius: 10%;
}

.function-item:nth-child(1) .function-img {
    width: 200px;
    padding-block: 30px;
}

.function-item:nth-child(3) .function-img {
    width: 300px;
    padding-block: 40px;
}

/*metaleaf-detail*/

.detail-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.detail-item {
    padding-inline: 10px;
    text-align: center;
    width: 100%;
    border: 4px solid rgb(49, 144, 49);
    border-radius: 15%;
    box-sizing: border-box;
}

.detail-img {
    width: 300px;
    max-width: 100%;
    padding-block: 20px;
}

/*-----------------------------------------
footer
------------------------------------------*/

.footer {
    background: #f5f5f5;
    padding-block: 20px;
}

.insta-sns {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-inline: auto;
}

.insta-link {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #000;
    padding: 10px;
    transition: all 0.5s;
}

.insta-link img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.insta-link:hover {
    color: #e4405f;
    opacity: 0.9;
    transform: scale(1.1);
}



/*--------------------------------------------
レスポンシブ
-----------------------------------------------*/
@media(max-width:767px) {

    /*--------------------------------------------
レスポンシブheader
-----------------------------------------------*/
    .header {
        margin-top: 0;
    }

    .bg-img {
        background-image: none;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
        padding: 10px;
    }

    .header-nav {
        display: none;
        width: 100%;
        text-align: center;
        background: white;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 9;
        border-top: 1px solid #ccc;
    }

    .header-nav.active {
        display: block;
    }

    .header-nav-list {
        flex-direction: column;
        padding: 1rem 0;
    }

    .header-nav-item {
        margin: 10px 0;
    }

    .header-logo {
        flex-wrap: wrap;
    }

    .main-info {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .info-title {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
    }

    .info-title h2 {
        font-size: 1.5rem;
    }

    .info-title p {
        font-size: 16px;
        line-height: 1.6;
    }

    .scroll-svg {
        margin-top: 30px;
    }

    .mv {
        width: 100%;
        height: 280px;
        max-width: 90%;
        margin: 40px auto 0;
        position: relative;
    }

    .img-item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .img-item img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
    }

    .main-title {
        font-size: 1.8rem;
        margin-top: 50px;
    }

    .metaleaf {
        margin-top: 150px;
    }


    /*--------------------------------------------
レスポンシブmain
-----------------------------------------------*/
    .section-title {
        font-size: 30px;
    }

    .sub-title {
        font-size: 20px;
    }

    .sub-title span {
        font-size: 30px;
    }

    .feature-text p {
        font-size: 12px;
        margin-block: 0;
    }

    .feature-item {
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        height: 600px;
    }



    .feature-item:nth-child(2),
    .feature-item:nth-child(4) {
        flex-direction: column-reverse;
        justify-content: flex-end
    }

    .featurebg-1 {
        width: 100%;
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
            url(./img/132140-ORUEKV-700-2.jpg);
    }

    .featurebg-2 {
        width: 100%;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
            url(./img/132140-ORUEKV-700-2.jpg);
        background-size: cover;
        background-position: 100% 100%;
    }

    .function-list {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .function-item {
        height: 330px;
        padding: 15px 10px 10px;
        margin-block: 0;
    }

    .function-text {
        font-size: 13px;
    }

    .function-item:nth-child(1) .function-img {
        padding-block: 20px;
    }

    .function-item:nth-child(3) .function-img {
        padding-block: 40px 10px;
    }

    .detail-list {
        flex-direction: column;
    }

    .detail-text {
        font-size: 13px;
    }

    /*--------------------------------------------
レスポンシブfooter
-----------------------------------------------*/

}